:root {
  color-scheme: light dark;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 300px;

  overflow-y: scroll;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;

  max-height: 601px;
}

svg {
  color: #000 !important;
}

body {
  padding: 30px !important;
  font-family: system-ui;
  text-align: left;
  font-size: 14px;

  color: #333;
}

.area {
  margin-bottom: 2em;
}

h4 {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 14px;
}

h5 {
  opacity: 0.5;
  font-size: 12px;
  padding: 0;
  margin: 0;
  margin-top: -6px !important;
  font-weight: normal;
  margin-bottom: 8px;
}

.gap8 {
  gap: 8px;
}

.gap10 {
  gap: 10px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentLeft {
  display: flex;
  justify-content: flex-start;
}

.contentRight {
  display: flex;
  justify-content: flex-end;
}

.alignLeft {
  display: flex;
  align-items: flex-start;
}

.alignRight {
  display: flex;
  align-items: flex-end;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.font12 {
  font-size: 12px;
}

.viewLogo {
  flex-direction: column;
}

.viewLogo span {
  display: flex;
  font-size: 9px;
  opacity: 0.3;
  margin-top: 4px;
}

.flex1 {
  flex: 1;
}

.flex-inline-container {
  display: inline-flex;
}

.block {
  display: flex;
  height: 20px;
  content: " ";
}

.buttonBar,
.clickListen,
.modeSelectBox {
  cursor: pointer;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  background: #fff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.12),
    inset 0px 1px 1px rgba(255, 255, 255, 0.25);
  border-radius: 8px;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  color: #333;
}

.viewBlock {
  padding: 24px;
  border-radius: 8px;
}

.mainButton,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;

  background: #0a83fc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.25);
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;

  color: #ffffff;
}

.mainButton {
  padding: 16px 60px;
}

.logoInButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 34px;

  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);

  border-radius: 8px;
}

.pathBorder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='currentColor' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  color: #151617;
  box-sizing: border-box;
}

.baseModeStyle {
  width: 110px;
  height: 100px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  overflow: hidden;
}

.modeSelectBox p {
  color: rgba(120, 120, 120, 0.5);
}

.modeMiniIcon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.modeAuto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeHidden {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hiddenIcon {
  width: 36px;
  height: 33px;
  margin-left: -4px;
  margin-bottom: 10px;
}

.baseModeStyle .miniIcon {
  border: 2px solid rgba(120, 120, 120, 0.2);
  border-radius: 0px 8px 8px 0px;
  width: 36px;
  height: 33px;
  margin-left: -4px;
  margin-bottom: 10px;
}

.selected .baseModeStyle {
  border: 2px solid #0a83fc;
  border-radius: 8px;
}

.selected .miniIcon {
  border-color: #0a83fc;
  background-color: #0a83fc;
}

.selected p {
  color: #0a83fc;
}

.inputStyle {
  padding: 0;
  margin-top: -8px;
  background-color: #fff;
  border: none;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
}

input::placeholder {
  opacity: 0.3;
}

.viewBlock span {
  display: flex;
}

#EsionLogo {
  padding-top: 0.5em;
}

.modeSelectBox p {
  padding: 0;
  margin: 0;
  margin-top: 6px;
  font-size: 12px;
}

.statusBox {
  background-color: #bbb;
  border-radius: 99px;
  height: 12px;
  width: 12px;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 6px;
}

.statusBox.normal {
  background-color: #0de764 !important;
}

.statusBox.warming {
  background-color: #e7900d !important;
}

.statusBox.error {
  background-color: #e70d0d !important;
}

.area {
  transition: height 0.5s ease, opacity 0.5s ease; /* 定義過渡效果 */
}

.areaSlideHidden {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

.areaSlideVisible {
  height: auto;
  opacity: 1;
  overflow: hidden;
}

.secondaryButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  background: #151617;
  border-radius: 99px;

  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
}

/* for dark */
@media (prefers-color-scheme: dark) {
  html,
  body,
  span,
  .viewBlock {
    color: #fff !important;
  }

  svg {
    color: #fff !important;
  }

  h4,
  h5 {
    color: #fff !important;
  }

  .inputStyle {
    background-color: #151617 !important;
  }

  .buttonBar {
    background: #2e3032 !important;
    color: #ffffff !important;
  }

  .baseModeStyle {
    background-color: #151617 !important;
  }
}
