@charset "UTF-8";

#ReadabilityBoxFrame {
  z-index: 90000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: none;
  animation: slideIn 0.8s;
  justify-content: center;
}

.readabilityCursorPointer {
  cursor: pointer;
}

.readabilityBlurBox {
  display: none;
  -webkit-mask-image: linear-gradient(to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 90001;
  animation: fadeIn 0.4s ease forwards;
}

.readabilityBlurBackgroundBox {
  display: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 89001;
  animation: blurIn 0.4s ease forwards;
}

#ReadabilityBox {
  z-index: 90000;
  position: relative;
  max-width: 1200px;
  width: 90vw;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: -32px;
  display: flex;
  flex-direction: column-reverse;
  padding: 32px;
  max-height: calc(100vh - 32px);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

#ReadabilityAnchor {
  overflow-anchor: auto;
  height: 1px;
}

#ReadabilityBox::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

.ReadabilityFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
}

.ReadabilityStyle {
  padding: 8px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin-bottom: 10px;

  gap: 8px;

  color: #000;
}

.ReadabilityStyle ol,
.ReadabilityStyle li {
  display: inline-flex !important;
  list-style: decimal inside !important;
}

.readabilityReply {
  font-style: normal;
  text-align: left;
  color: #444;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  animation: fadeIn 0.8s;
  white-space: pre-line;
  flex-direction: column;
}

.morePadding {
  padding: 16px !important;
}

.readabilityUserReply {
  text-align: right !important;
  align-items: flex-end;
  justify-content: flex-end;
}

#ReadabilityBox hr {
  background: none;
  color: none;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  margin: 8px 0;
  display: block !important;
}

.readabilityInput {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 8px;
}

.fixMorePadding {
  margin: -8px;
}

#ReadabilityKeyboard {
  color: #000 !important;
}

#ReadabilityTextarea {
  flex: 1;
}

#ReadabilityKeyboard textarea {
  border: none !important;
  width: 100% !important;
  resize: none !important;
  overflow: hidden !important;
  min-height: 1em !important;
  max-height: 100px !important;
  display: inline-block !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 200 !important;
  margin: 0 !important;
}

.readabilityInsideStyle {
  background: #ebebeb !important;
  border-radius: 12px !important;
  padding: 12px !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.readabilityInsideStyle.readabilityError {
  background-color: #d10000 !important;
  color: #fff;
}

.readabilityTips {
  color: #4b4b4b !important;
  opacity: 0.7 !important;
}

#response,
#receipt,

#ReadabilityBox p {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  word-wrap: break-word;
  text-align: justify;
}

.safariExtensionTitle,
.safariExtensionHost {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

.safariExtensionHost {
  font-weight: 400;
}

#receipt h1,
#receipt h2,
#receipt h3,
#receipt h4,
#receipt h5,
#receipt strong {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#receipt ol,
#receipt ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

#receipt li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

/* ReadabilityBar */

#ReadabilityBar {
  display: block;
  z-index: 90002;
  animation: fadeIndn 0.8s;
}

#ReadabilityBar #viewBar {
  margin: 0;
  padding: 0;

  background: rgba(244, 245, 244, 0.85);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  position: fixed;

  border-radius: 16px 0px 0px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 90003;
  width: 40px !important;
  height: 40px !important;
  right: 0px;
  bottom: 26px;
}

#ReadabilityBar #viewBar a {
  text-align: center;
  font-family: system-ui;
  font-style: normal;
  font-weight: 590;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  line-height: 1px;
  border: none;
  width: 30px !important;
  height: 30px !important;
}

.readabilityReply code {
  display: block;
  background-color: rgba(120, 120, 120, 0.15);
  padding: 1em;
  word-break: keep-all;
  white-space: pre-wrap;
  border-radius: 6px;
  margin: 6px 0;
}

#ReadabilityMessageButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  font-size: 14px;
}

.readabilityMessageButton {
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  background-color: rgba(56, 123, 234, 0.85);
}

.ReadabilityMessageTyping::after {
  display: inline;
  content: "...";
  animation: dotFlashingAnimation 1s infinite;
}

/* animation */

@keyframes dotFlashingAnimation {
  0% {
    content: ".";
  }

  50% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.readability__loader__dot {
  animation: 1s blink infinite;
}

.readability__loader__dot:nth-child(2) {
  animation-delay: 250ms;
}

.readability__loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

.fadeIn {
  animation: fadeIn 0.8s;
}

.fadeOut {
  animation: fadeOut 0.8s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: flex !important;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none !important;
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none !important;
  }

  1% {
    display: flex !important;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    bottom: -200px;
    display: none !important;
  }

  1% {
    display: block !important;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes blurIn {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }

  to {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

/* @media */

@media (prefers-color-scheme: dark) {
  #ReadabilityBar #viewBar {
    background-color: #000 !important;
  }

  .ReadabilityStyle {
    background-color: rgba(10, 10, 10, 0.85);

    color: #fff !important;
  }

  .safariExtensionTitle,
  .safariExtensionHost,
  #response,
  #receipt {
    color: #fff !important;
  }

  #ReadabilityKeyboard textarea,
  .readabilityInsideStyle {
    background-color: #333333 !important;
    color: #fff !important;
  }

  #ReadabilityBoxFrame svg {
    color: #fff !important;
  }
}

@media only screen and (max-width: 767px) {
  .readabilityBlurBox {
    height: 160px;
  }

  #ReadabilityBox {
    max-height: calc(100vh - 32px);
  }
}